@import 'globals';

body.frontpage main {
	padding-top: 70px;
}

@media #{$xs} {
	#navbar__nav {
		height: 50px !important;
	}
	
	body.frontpage main {
		padding-top: 50px;
	}
}

@media #{$sm} {
	#navbar__nav {
		height: 55px !important;
	}
	
	body.frontpage main {
		padding-top: 55px;
	}
}

@media #{$md} {
	#navbar__nav {
		height: 60px !important;
	}
	
	body.frontpage main {
		padding-top: 60px;
	}
}

#modal__quiz {
	.modal-content {
		max-height: calc(100vh - 3.5rem);
		overflow: scroll;
	}
}

table {
	th, td {
		vertical-align: middle !important;
	}
}

.hyphens--auto a {
	hyphens: auto;
	-webkit-hyphens: auto;
  	-ms-hyphens: auto;
}