@import 'globals';

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Oswald" !important;
}

body {
	background: #e5e5e5;
	
	&.frontpage {
		padding-top: 70px;
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			font-family: "Playfair Display" !important;
		}
	}
}

b, strong {
	font-weight: 600 !important;
}

main {
	// background: linear-gradient(white, white 100px,  transparent 200px);
}

.card .list-group .list-group-item.bg-light,
table tr.bg-light {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
}

#section__page__main__top {
	background-color: #E5E5E5 !important;
	background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(160,160,160,0.60) 100%);
	background-blend-mode: normal, multiply;
}

#modal__quiz {
	.modal-content {
		max-height: calc(100vh - 3.5rem);
		overflow: scroll;
	}
}

.vertical--middle {
	th, td {
		vertical-align: middle !important;
	}
}

.hyphens--auto a {
	hyphens: auto;
	-webkit-hyphens: auto;
  	-ms-hyphens: auto;
}

.btn-primary {
	color: white;
}

.btn-outline-primary:hover {
	color: white;
}