@import '../globals';

@for $i from 0 through 1000 {
	.width--#{$i} {
		width: #{$i}px !important;
	}
	
	.height--#{$i} {
		height: #{$i}px;
	}
	
	.px--#{$i} {
		padding-left: #{$i}px !important;
		padding-right: #{$i}px !important;
	}
	
	.pl--#{$i} {
		padding-left: #{$i}px;
	}
	
	.pr--#{$i} {
		padding-right: #{$i}px;
	}
	
	.py--#{$i} {
		padding-top: #{$i}px;
		padding-bottom: #{$i}px;
	}
	
	.pt--#{$i} {
		padding-top: #{$i}px;
	}
	
	.pb--#{$i} {
		padding-bottom: #{$i}px;
	}
	
	.my--#{$i} {
		margin-top: #{$i}px;
		margin-bottom: #{$i}px;
	}
	
	.mt--#{$i} {
		margin-top: #{$i}px;
	}
	
	.mb--#{$i} {
		margin-bottom: #{$i}px;
	}
	
	.mr--#{$i} {
		margin-right: #{$i}px;
	}
	
	.ml--#{$i} {
		margin-left: #{$i}px;
	}
}