.custom-radio.custom-control--centered {
	padding: 0 !important;
	
	.custom-control-label {
		&:before {
			width: 2rem;
			height: 2rem;
			top: 0;
			left: calc(50% - 1rem);
		}
		
		&:after {
			background: white !important;
			border-radius: 50%;
			top: .5rem;
			left: calc(50% - .5rem);
		}
		
		> * {
			margin-top: 2.5rem;
		}
	}
}

.custom-checkbox.custom-control--centered {
	padding: 0 !important;
	
	.custom-control-label {
		&:before {
			width: 2rem;
			height: 2rem;
			top: 0;
			left: calc(50% - 1rem);
		}
		
		&:after {
			background: none !important;
			background-size: cover;
			top: -.45rem;
			left: calc(50% - .95rem);
			content: "✓";
			font-size: 2rem;
			font-weight: bold;
			color: white;
		}
		
		> * {
			margin-top: 2.5rem;
		}
	}
}

.custom-radio.label--photo:checked + span {
	box-shadow: 
		0 0 0 0.5rem white, 
		0 0 1rem black
	;
}
