#sticker {
	z-index: 1000 !important;
	top: auto !important;
	bottom: 0 !important;
}

.sticky-wrapper.is-sticky {
	#sticker {
		border-top: 1px solid #dee2e6 !important;
		background: white;
		
		#stylist__client__menu {
			display: block !important;
		}
		
		#client__set__description {
			display: none !important;
		}
		
		.sticky--disabled {
			display: none;
		}
	}
}