.custom-radio.custom-control--centered {
  padding: 0 !important;
}

.custom-radio.custom-control--centered .custom-control-label:before {
  width: 2rem;
  height: 2rem;
  top: 0;
  left: calc(50% - 1rem);
}

.custom-radio.custom-control--centered .custom-control-label:after {
  background: white !important;
  border-radius: 50%;
  top: .5rem;
  left: calc(50% - .5rem);
}

.custom-radio.custom-control--centered .custom-control-label > * {
  margin-top: 2.5rem;
}

.custom-checkbox.custom-control--centered {
  padding: 0 !important;
}

.custom-checkbox.custom-control--centered .custom-control-label:before {
  width: 2rem;
  height: 2rem;
  top: 0;
  left: calc(50% - 1rem);
}

.custom-checkbox.custom-control--centered .custom-control-label:after {
  background: none !important;
  background-size: cover;
  top: -.45rem;
  left: calc(50% - .55rem);
  content: "+";
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.custom-checkbox.custom-control--centered .custom-control-label > * {
  margin-top: 2.5rem;
}
